# Build artifacts
build
src/Client/obj
src/ContentPipeline/obj
src/ContentPipelineLib/obj
src/Shared/obj

# Installer build artifacts
installer/bin
installer/obj

# Random things
*.VisualState.xml
*.cachefile
*.csproj.user
*.swp
Thumbs.db
*.suo
*.directory
Debug/
ipch/
src/version.h
TestResult.xml
/UpgradeLog.htm
/packages
/TestResults/197a30e8-a12b-45ec-ac70-1565df61f113
/TestResults
/src/Scott.DungeonCrawler/obj/Release
/src/Scott.Forge/obj/Release
/src/Scott.Forge.Engine/obj/Release
/src/Scott.Forge.Engine.Tests/obj/Release
/src/Scott.Forge.Game.Tests/obj/Release
*.force
*.cache
/src/Scott.Forge.Tests/obj/Release
/cubeworld/
/src/Scott.DungeonCrawler.Client/obj
/src/Scott.Forge/obj
/src/Scott.Forge.Engine/obj
/src/Scott.Forge.Engine.Tests/obj
/src/Scott.Forge.Game.Tests/obj
/src/Scott.Forge.Tests/obj
/src/WixInstaller/bin/Release
/src/WixInstaller/obj/Release
/.vs/DungeonCrawler/v15
/.vs/DungeonCrawler/v15/sqlite3
