# Build artifacts
build/

# Installer build artifacts
installer/bin
installer/obj

# Random things
*.VisualState.xml
*.cachefile
*.csproj.user
*.swp
Thumbs.db
*.suo
*.directory
Debug/
ipch/
src/version.h
