<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Scott.Dungeon.DungeonCrawler" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="ExceptionReporter">
            <section name="Contact" type="System.Configuration.NameValueSectionHandler"/>
            <section name="TabsToShow" type="System.Configuration.NameValueSectionHandler"/>
            <section name="Email" type="System.Configuration.NameValueSectionHandler"/>
            <section name="LabelMessages" type="System.Configuration.NameValueSectionHandler"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Scott.Dungeon.DungeonCrawler" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Scott.Dungeon.DungeonCrawler>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
        </Scott.Dungeon.DungeonCrawler>
    </userSettings>
    <ExceptionReporter>
        <Contact>
            <add key="email" value="support@smacdo.com"/>
            <add key="web" value="http://smacdo.com/"/>
        </Contact>
        <TabsToShow>
            <add key="exceptions" value="true"/>
            <add key="assemblies" value="true"/>
            <add key="config" value="true"/>
            <add key="system" value="true"/>
            <add key="contact" value="true"/>
        </TabsToShow>
        <Email>
            <add key="method" value="MAPI"/>
            <add key="SmtpServer" value=""/>
            <add key="SmtpUsername" value=""/>
            <add key="SmtpPassword" value=""/>
            <add key="from" value=""/>
            <add key="to" value="support@smacdo.com"/>
        </Email>
        <LabelMessages>
            <add key="general" value="An exception has occured"/>
            <add key="explanation" value="Please explain what happened"/>
            <add key="ContactTop" value="The information below may be used to contact support"/>
            <add key="ContactBottom" value="Some bottom message"/>
        </LabelMessages>
    </ExceptionReporter>
    <applicationSettings>
        <Scott.Dungeon.DungeonCrawler>
            <setting name="ContentDir" serializeAs="String">
                <value>Content</value>
            </setting>
        </Scott.Dungeon.DungeonCrawler>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
