<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <!--
      Defined in Setup.wxs, the "TARGETDIR" is not actually created, it's just a crutch
      in WiX to allow the files to share a common root
    -->
    <DirectoryRef Id="TARGETDIR">

      <!--
        ProgramMenuFolder is a special name that resolves to the start menu folder.
        The files (see below) can indicate that they want a shortcut created in
        another folder. By defining this folder, we can make them put a shortcut
        into the start menu!
      -->
      <Directory Id='ProgramMenuFolder' Name='Programs'>
        <Directory Id='MyGameProgramMenuFolder' Name='Dungeon Crawler'>
          <Component Id="StartMenuEntriesComponent" Guid="76eae710-a0fa-47c1-950a-56bd76d1dddc" DiskId="1">
            <RemoveFolder Id='MyGameProgramMenuFolder' On='uninstall' />
            <RegistryValue
              Root='HKCU'
              Key='SOFTWARE\ScottMacDonald\Dungeon Crawler'
              Type='string'
              Value='Installed'
              KeyPath='yes'
            />
          </Component>
        </Directory>
      </Directory>

      <!--
        ProgramFilesFolder is a special name that is resolved to the system's
        programs folder. This entry makes sure that INSTALLDIR, displayed in
        directory selection dialog, initially points to "C:\Program files\MyGame".
        Note that this does not prevent the user from selecting an entirely
        different path like "D:\Games\MyGame".
      -->
      <Directory Id="ProgramFilesFolder" Name="PFiles">

        <!--
          Target directory you game will be installed to. Create more <Directory />
          elements below this one to create subdirectories or add <File /> elements
          to add files to a directory
        -->
        <Directory Id="INSTALLDIR" Name="Dungeon Crawler">

          <!--
            Any <File /> element must be contained in a <Component /> element.
            Components are entirely internal to the installs and group inseperable
            partS of your game. For example, you could have 4 components:
            "shared", "game", "editor" and "docs".

            An installer then sets up a series of features (see <Feature /> in Setup.wxs),
            where each feature points to a number of components. Following the previous
            example, two features named "game" and "editor" could be imagined where
            both point to the "shared" component and to their own component.
          -->
          <Component Id="GameExecutable" Guid="abcc68ad-415a-4d6f-81f9-84c798b4b1e4" DiskId="1">
            <File
              Id="LicenseFile" Name="license.rtf"
              Source="../docs/license.rtf"
            />
            <File Id="GameExecutable" Name="DungeonCrawler.exe" KeyPath="yes" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/DungeonCrawler.exe" >
              <!--
                Let the installer create a shorcut to this file in the start menu. There are
                several ways to do this. For some more in-depth explanation, visit this url: 
                
				http://blogs.technet.com/alexshev/pages/from-msi-to-wix-part-10-shortcuts.aspx
 			  -->
              <Shortcut
                Id="MyGameShortcut"
                Name="Dungeon Crawler Shortcut"
                Directory="MyGameProgramMenuFolder"
                Advertise="yes"
                WorkingDirectory="INSTALLDIR"
              />
            </File>
            <File Id="GameCommonDll" Name="DungeonCrawlerCommon.dll" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/DungeonCrawlerCommon.dll" />
          </Component>
          
          <!-- 
            All of Dungeon Crawler's root level game content
          -->
          <Directory Id="GameContentDirectory" Name="Content">
            <Component Id="GameRootContent" Guid="091b857d-2dd8-461f-892b-3370599a8c09" DiskId="1">
              <File Id="DebugFont" Name="DebugFont.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/DebugFont.xnb" />
            </Component>

            <!-- 
              All of Dungeon Crawler's game sprite content
            -->
            <Directory Id="GameContentSprites" Name="Sprites">
              <Component Id="GameSpritesContent" Guid="19cf3be1-7d0b-4751-9c40-253cc2021074" DiskId="1">
                <File Id="Back_Quiver.xnb" Name="Back_Quiver.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Back_Quiver.xnb" />
                <File Id="Belt_Leather.xnb" Name="Belt_Leather.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Belt_Leather.xnb" />
                <File Id="Belt_Rope.xnb" Name="Belt_Rope.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Belt_Rope.xnb" />
                <File Id="Bracer_Leather.xnb" Name="Bracer_Leather.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Bracer_Leather.xnb" />
                <File Id="Feet_Shoes_Brown.xnb" Name="Feet_Shoes_Brown.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Feet_Shoes_Brown.xnb" />
                <File Id="Feet_Shoes_Plate.xnb" Name="Feet_Shoes_Plate.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Feet_Shoes_Plate.xnb" />
                <File Id="Hands_Plate.xnb" Name="Hands_Plate.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Hands_Plate.xnb" />
                <File Id="Head_Hair_Blonde.xnb" Name="Head_Hair_Blonde.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Head_Hair_Blonde.xnb" />
                <File Id="Head_Helmet_Chain.xnb" Name="Head_Helmet_Chain.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Head_Helmet_Chain.xnb" />
                <File Id="Head_Helmet_Leather.xnb" Name="Head_Helmet_Leather.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Head_Helmet_Leather.xnb" />
                <File Id="Head_Helmet_Plate.xnb" Name="Head_Helmet_Plate.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Head_Helmet_Plate.xnb" />
                <File Id="Head_Hood_Chain.xnb" Name="Head_Hood_Chain.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Head_Hood_Chain.xnb" />
                <File Id="Head_Hood_Robe.xnb" Name="Head_Hood_Robe.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Head_Hood_Robe.xnb" />
                <File Id="Humanoid_Male.xnb" Name="Humanoid_Male.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Humanoid_Male.xnb" />
                <File Id="Humanoid_Skeleton.xnb" Name="Humanoid_Skeleton.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Humanoid_Skeleton.xnb" />
                <File Id="Legs_Pants_Green.xnb" Name="Legs_Pants_Green.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Legs_Pants_Green.xnb" />
                <File Id="Legs_Pants_Plate.xnb" Name="Legs_Pants_Plate.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Legs_Pants_Plate.xnb" />
                <File Id="Legs_Skirt_Robe.xnb" Name="Legs_Skirt_Robe.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Legs_Skirt_Robe.xnb" />
                <File Id="Shoulder_Leather.xnb" Name="Shoulder_Leather.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Shoulder_Leather.xnb" />
                <File Id="Shoulder_Plate.xnb" Name="Shoulder_Plate.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Shoulder_Plate.xnb" />
                <File Id="Torso_Armor_Chain.xnb" Name="Torso_Armor_Chain.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Torso_Armor_Chain.xnb" />
                <File Id="Torso_Armor_Leather.xnb" Name="Torso_Armor_Leather.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Torso_Armor_Leather.xnb" />
                <File Id="Torso_Armor_Plate.xnb" Name="Torso_Armor_Plate.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Torso_Armor_Plate.xnb" />
                <File Id="Torso_Armor_Purple.xnb" Name="Torso_Armor_Purple.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Torso_Armor_Purple.xnb" />
                <File Id="Torso_Shirt_Robe_Brown.xnb" Name="Torso_Shirt_Robe_Brown.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Torso_Shirt_Robe_Brown.xnb" />
                <File Id="Torso_Shirt_White.xnb" Name="Torso_Shirt_White.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Torso_Shirt_White.xnb" />
                <File Id="Weapon_Longsword.xnb" Name="Weapon_Longsword.xnb" Source="../DungeonCrawler/DungeonCrawler/bin/x86/$(var.build)/Content/sprites/Weapon_Longsword.xnb" />

              </Component>
            </Directory>
          </Directory>
        </Directory>

      </Directory>

    </DirectoryRef>

  </Fragment>
</Wix>
